*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffefd6;
}
h1{
    font-size: 5em;
    font-family: acumin-pro, sans-serif;
    color: #3879F5;
    font-weight: 200;

    font-style: normal;

    text-align: center;
    padding-top: 19%;
}
.header{
    padding-top: 0.5%;
    margin: 0;
    text-align: center;
    font-weight: 400;
    color: #3879F5;
}

/* HOME: OBJECTS */
.objects{
    opacity: 90%;
    color: white;
    position: absolute;
    width: 150px;
    height: 150px;
    filter: drop-shadow(0 0 0.75rem #e1d3bc);
}
#obj0, #obj2, #obj4, #obj6, #obj7, #obj8, #obj11, #obj15, #obj16{
    top: 0;
}
#obj1, #obj3, #obj5, #obj9, #obj10, #obj12, #obj13, #obj14{
    bottom: 0;
}
#obj6, #obj7, #obj8, #obj9, #obj10, #obj14, #obj15{
    right: 0;
}

/* ABOUT PAGE  */

#room0, #room1, #room2, #room3, #room4{
    position: absolute;
    max-width: 200px;
}
#room0, #room1{
    bottom: 0;
}
#room2, #room3, #room4{
    top: 0;
}
#room2, #room1{
    right: 0;
}
#room3{
    right: 45%;
}
.aboutus{
    width: 50%;
    position: absolute;
    top: 20%;
    left: 25%;
    line-height: 140%;
}
/* TOP NAV LINK */

.aboutnav1, .backtohome, .aboutnav2{
   position: fixed;
   top: 0;
   width: 170px;
   height:  60px;
   color: rgb(26, 39, 27);
   text-align: center;
   padding-top: 1%;
   text-decoration: none;
   font-family: sans-serif;
   font-size: 20px;
   border: 2px solid black;
   z-index: 3
}
.aboutnav1{
    background-color: red;
    left: 0;
}

.aboutnav2{
    background-color:blue;
    right: 0;
}
.backtohome{
    background-color: yellow;
    left: 0;

}

/* ABOUT FOOTER */
#footer{
    position: fixed;
    bottom: 0;
    background-color: green;
    height: 45px;
    width: 100vw;
}
#footer-artist{
    position: fixed;
    bottom: 0;
    padding: 0;
    margin: 0;
    background-color: green;
    height: 45px;
    width: 100vw;
    padding-bottom: 4%;
}
.marquee a{
    font-size: 2em;
    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    text-decoration: none;
}
.marquee a:hover{
    text-decoration: none;
    color: red;
}
.marquee{
    width: 2000px;
    overflow:hidden;

}
.coverimages{
    max-width: 110%;
}
/* ARTIST PAGE */
.coverimages-small{
    max-width: 150%;
}
p{
    width: 35%;
    color:rgb(26, 39, 27);
}
.artist-info img {
    max-width: 20%;
    background: transparent;
}
.carousel{
    padding-top: 1%;;
    display: block;
    max-width: 70%;
    margin: 0 auto;
}
.carousel-item{
    transition: transform 2s ease, opacity .5s ease-out;
}

.no-boot{
    background-color: #ffefd6;
    overflow-x: hidden;
}
.no-boot a:hover{
    text-decoration: none;
    color: red;
}
.name{
    text-align: left;
    width: 20%;
    padding: 0;
    margin: 0;
    font-size: 4em;
    color:rgb(26, 39, 27);
}
.artist-info{
    padding: 3% 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
span{
    display: block;
    font-size: 1.2em;
}
.pronouns{
    font-size: 0.7em;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
/* RESPONSIVE */

@media only screen and (max-width: 900px){
    .name{
        width: 100%;
        text-align: center;
        padding-bottom: 2%;
    }
    p{
        width: 60%;
    }
    .artist-info img{
        max-width: 30%;
    }
    .pronouns{
        display: inline;
    }
    .header{
        font-size: 1em;
        padding-top: 2%;
    }
    .carousel
    {
        max-width: 100%;
        padding-top: 25px;
    }
    .aboutus{
        width: 70%;
        left: 18%;
    }

}
